.Capabilities {
    background: #fff;
    margin-top: 90px;
}

.titulo-capabilities {
    color: black;
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 400;
    padding-top: 4rem;
}

.contenedor-ul-capabilities {
    display: flex;
    flex-direction: column;
}

.link-capabilities{
    text-decoration: none;
    font-size: 150px;
    font-weight: 500;
    line-height: 0.8;
    color: black;
}

.link-capabilities:hover {
    color: rgb(75, 75, 75);
  }


    /* responsive */



@media screen and (max-width: 994px){
    .link-capabilities{
      font-size: 130px;
      font-weight: 400;
  }
  
  }
  
  @media screen and (max-width: 660px){
    .link-capabilities{
      font-size: 80px;
      font-weight: 300;
  }
  
  }
  
  

